@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #000000;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: var(--primary-color);
}
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}
.welcome-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  padding: 150px;
  background-color: #000000;
  color: #ffffff;
  border: 2px var(--secondary-color);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
.welcome-popup-button {
  padding: 10px 15px;
  color: #FFFFFF;
  background-color: var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
  border-style: none;
}
.container {
  height: calc(var(--vh, 1vh) * 100 - 70px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  background-color: var(--header-color);
  color: #fff;
  height: 50px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-logo {
  max-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.contact-nav {
  color: #fff;
  height: 50px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.contact-button, .contact-button a, .menu-button {
  padding: 10px 15px;
  background-color: #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  text-decoration: none;
  color: #000;
  border-style: none;
}
.menu-button {
  display: block;
}
.main-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.content-wrapper {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-self: end;
  overflow: auto;
  gap: 50px;
}
.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}
.landing-logo {
  max-height: 50px;
  margin-bottom: 20px;
}
.landing h1 {
  color: var(--primary-text-color);
}
.spinner {
  text-align: center;
  padding: 20px;
  font-size: 30px;
  color: var(--secondary-color);
  animation: spin 2s linear infinite;
}
.answer-container {
  flex-grow: 1;
  color: var(--primary-text-color);
  width: 100%;
  white-space: pre-wrap;
  overflow-y: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  scrollbar-width: none;
}
.answer-container::-webkit-scrollbar, .source-column::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
.search-container {
  width: 50%;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #ffffff33;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
  align-self: center;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.search-input {
  width: 100%;
  padding: 20px;
  background-color: transparent ;
  border-style: none;
  font-size: 16px;
  color: #2d2d2d;
}
.search-input::placeholder {
  color: #696969;
}
.search-input:focus-visible {
  outline: none;
}
.search-button {
  padding: 20px 15px;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  font-size: 16px;
}
.search-button .fa-paper-plane {
  color: var(--secondary-color);
  font-size: 16px;
}
.ch-update {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  color: #696969;
}
.suggestions {
  width: 70%;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.suggestion-button {
  display: block;
  width: 50%;
  max-width: 370px;
  height: 65px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  color: var(--secondary-text-color);
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  border-style: solid;
  border-color: #2d2d2d1a;
}
.suggestion-button-4 {
  display: none;
  width: 50%;
  max-width: 370px;
  height: 65px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  color: var(--secondary-text-color);
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  border-style: solid;
  border-color: #2d2d2d1a;
}
.recent-articles-button {
  width: 50%;
  max-width: 370px;
  height: 65px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  color: var(--secondary-text-color);
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  border-style: solid;
  border-color: #2d2d2d1a;
}
.source-column {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 400px;
  overflow-y: auto;
  scrollbar-width: none;
}
.source-card {
  background-color: var(--primary-color);
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #a5a5a561;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
}
.source-card-1 {
  background-color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  display: none;
  flex-direction: column;
}
.source-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.source-text{
  padding: 10px;
  font-size: 16px;
  color: var(--primary-text-color);;
}
.card-link {
  text-decoration: none;
}
.source-mobile-container {
  display: none;
}
.mobile-menu {
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  box-shadow: -2px 0 5px rgba(0,0,0,0.5);
  z-index: 1000;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.close-button {
  font-size: 24px;
  background: none;
  border: none;
  color: var(--primary-text-color);
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
.mobile-menu.visible {
  display: block;
}

@media (min-width: 768px) {
  .menu-button {
    display: none;
  }
  .contact-button, .contact-button a {
    display: block;
    text-decoration: none;
    color: #000000;
  }
}

@media (max-width: 768px) {
  .container {
    height: calc(var(--vh, 1vh) * 100 - 70px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .header .header-logo {
    max-height: 40px;
  }
  .welcome-popup {
    display: none;
    position: fixed;
    top: 30%;
    left: 0%;
    z-index: 100;
    padding: 20px;
    margin: 20px;
    transform: translate(0%, 0%);
    background-color: #000000;
    color: #FFFFFF;
    border: 2px solid var(--secondary-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  }
  .main-container {
    width: 90%;
  }
  .content-wrapper {
    width: 100%;
    flex-direction: column;
    overflow-y: auto;
  }
  .source-column {
    display: none;
  }
  .answer-container {
    font-size: 18px;
    line-height: 1.4;
    padding: 0;
    margin-top: 20px;
    font-size: 13px;
    order: 1;
    overflow-y: unset;
  }
  .source-column {
    display: none;
  }
  .source-mobile-container {
    display: flex;
    flex-direction: column;
    order: 2;
  }
  .card-link {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .source-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .source-card img {
    width: 50%;
    height: auto;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 0;
  }
  .source-card h3 {
    margin: 10px;
    flex-grow: 1;
    padding: 5px;
    overflow: hidden;
    white-space: normal;
    font-size: 10px;
  }
  .contact-button-mobile, .contact-button-mobile a {
    margin: auto;
    margin-bottom: 40px;
    margin-top: 50px;
    width: 90%;
    padding: 10px 15px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    text-align: center;
    color: #000;
  }
  .suggestions {
    display: none;
  }
  .suggestion-button {
    width: 100%;
    margin-bottom: 10px;
    font-size: 12px;
    height: 65px;
  }
  .suggestion-button-4 {
    display: none;
    width: calc(50% - 120px);
    max-width: 370px;
    height: 65px;
    padding: 10px;
    margin-bottom: 10px;
    /*background-color: var(--secondary-color);*/
    color: var(--secondary-text-color);
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.3);
  }
  .recent-articles-button{
    width: 100%;
    margin-bottom: 10px;
    font-size: 12px;
  }
  .search-container {
    width: 90%;
  }
}
