<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GPT Web App</title>

  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:title" content="Mosaic GPTs">
  <meta property="og:description" content="Custom GPTs">
  <meta property="og:image" content="none">
  
  <meta property="twitter:card" content="">
  <meta property="twitter:url" content="">
  <meta property="twitter:title" content="Mosaic GPTs">
  <meta property="twitter:description" content="Custom GPTs">
  <meta property="twitter:image" content="none">

  <meta property="fc:frame" content="vNext" />
  <meta property="fc:frame:image" content="http://...image-question.png" />
  <meta property="fc:frame:button:1" content="Green" />
  <meta property="fc:frame:button:2" content="Purple" />
  <meta property="fc:frame:button:3" content="Red" />
  <meta property="fc:frame:button:4" content="Blue" />

  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link href="{{ url_for('static', filename='Icons/fontawesome-free-6.5.1-web/css/all.css') }}" rel="stylesheet">
  <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
  <div id="overlay"></div>
  <div class="header">
    <img src="#" alt="Company logo" class="header-logo">
    <div class="contact-nav">
      <a href="https://forms.gle/RaY8EfdZtBMPv3fZ7" target="_blank" id="feedback" class="contact-button">Share feedback</a>
      <a href="mailto:manuel@mosaicgpts.com" class="contact-button">Contact us</a>
      <button class="menu-button">&#9776;</button>
    </div>
  </div>
  <div class="mobile-menu">
    <button class="close-button">&times;</button>
    <a href="https://forms.gle/RaY8EfdZtBMPv3fZ7" target="_blank" id="feedbackm" class="contact-button-mobile">Share feedback</a>
    <h3>Sample Questions</h3>
    <button id="recentArticlesm" class="recent-articles-button"></button>
    <button id="suggestion1m" class="suggestion-button"></button>
    <button id="suggestion2m" class="suggestion-button"></button>
    <button id="suggestion3m" class="suggestion-button"></button>
    <button id="suggestion4m" class="suggestion-button-4"></button>
    <a href="mailto:manuel@mosaicgpts.com" class="contact-button-mobile">Contact us</a>
  </div>
  <div id="welcome-popup" class="welcome-popup">
    <div class="popup-content">
      <h2></h2>
      <p></p>
      <button class="welcome-popup-button">Continue</button>
    </div>
  </div>
  <div class="container">
    <div class="main-container">
      <div class="landing" id="tempLanding">
        <img src="#" alt="Company logo" class="landing-logo">
        <h1></h1>
      </div>
      <div id="spinner" class="spinner" style="display: none;">
        <i class="fa-solid fa-spinner"></i>

    </div>
      <div class="content-wrapper">
        <div class="answer-container" id="answerContainer">
        </div>
        <div class="source-mobile-container" id="sourceMobileContainer">
        
        </div>
        <div class="source-column" id="sourceColumn">

        </div>
      </div>
    </div>
    <div class="suggestions">
      <button id="recentArticles" class="recent-articles-button"></button>
      <button id="suggestion1" class="suggestion-button"></button>
      <button id="suggestion2" class="suggestion-button"></button>
      <button id="suggestion3" class="suggestion-button"></button>
      <button id="suggestion4" class="suggestion-button-4"></button>
    </div>
    <div class="search-container">
      <input type="text" class="search-input" placeholder="What would you like to know?" id="searchQuery">
      <button class="search-button">
        <i class="fa-solid fa-paper-plane"></i>
      </button>
    </div>
    <div class="ch-update">
      <span>
        Chat history is not currently available, but coming soon.
      </span>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/scripts.js') }}">
    function adjustHeight() {
      var vh = window.innerHeight * 0.01;
      document.documentElement.style.setProperty('--vh', `${vh}px`);
    }

    window.addEventListener('resize', adjustHeight);
    window.addEventListener('load', adjustHeight);

    adjustHeight();
  </script>
</body>
</html>
